.leaflet-container {
  width: 100%;
  height: 300px;
  opacity: 0;
  animation: fadeInLeaflet 1.5s ease forwards 2s;
}

.leaflet-popup {
  .leaflet-popup-close-button {
    display: none;
  }

  .leaflet-popup-content-wrapper {
    background: linear-gradient(#000, #111);
    border: groove 1px #fff;
    overflow: hidden;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    position: absolute;

    animation: fadeInPopup 1s ease-out;

    @keyframes fadeInPopup {
      0% {
        opacity: 0;
        height: 0;
        width: 0;
      }
      50% {
        opacity: 1;
        height: 0;
        width: 310px;
      }
      100% {
        opacity: 1;
        height: 100px;
        width: 310px;
      }
    }

    .leaflet-popup-content {
      width: 300px;
      height: 100px;
      text-align: center;
      padding: 0;
      margin: 0 0 0 10px;
      overflow: hidden;

      div {
        height: 100%;

        .caption {
          color: #f1f1f1;
          height: 100%;
          white-space: nowrap;
        }

        hr {
          border: groove 1.35px #fff;
          box-shadow: 0 0 3px #000;
        }

        svg {
          float: left;
          height: 120px;
          width: 120px;
          fill: #f1f1f1;
        }
      }
    }
  }
}
